extends layout
block append head
    link(rel='stylesheet', href='/homepage.css')
block append content
    
    body
        
        div(class="header")
            h1(class="pageTitle")="🌎 Posts from around the globe 🌎"
            //div(class = "postsBox")
                
        
        script(src="/public/javascripts/postLoader.js")
        script( src= "https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js").
        script(type = "text/javascript").
            let user = !{JSON.stringify(user)};
            console.log(user);
             axios({
                        method:"get",
                        data: {
                        //receiver:receiver,
                        origin:"homepage",
                        },
                        withCredentials:false,
                        url: `http://localhost:3000/posts/getAllPosts`,
                    }).then((res) => {
                        //console.log(res.data.posts);
                        loadPosts(res.data.posts, user);
                        addPostListeners();
            let likes = document.querySelectorAll(".likes");
            

            likes.forEach((like)=> {
                //console.log("yup");
                like.addEventListener("click", () => {
                    //console.log(like.value)
                    axios({
                        method:"post",
                        data: {
                        //receiver:receiver,
                        origin:"homepage",
                        },
                        withCredentials:false,
                        url: `http://localhost:3000/posts/updateLikes/${like.value}`,
                    }).then((res) => {
                        console.log(res.data.msg);
                        location.reload();
                        if (res.data.msg == "success") {
                            
                        }
                    })
                })
            })
                    })
                    
            //og way of getting posts
            //let posts = !{JSON.stringify(posts)};
            //loadPosts(posts);
            

