content{
    border-style: solid;
}
.miniProfile {
    display:flex;
    
    width:fit-content;
    height:fit-content;
    float:left;
    
    
}

.buttons {
    display:flex;
    flex-direction:column;
    gap:0px;
    container-type: size;
    
}

.buttons button {
    background-color: rgb(150, 150, 150);
    border-color:rgb(105, 105, 105);
    color:rgb(31, 128, 97);
    border-radius: 5px;
    height:2.5vh;
    min-height:20px;
    font-size:13px;
    overflow: hidden;
    aspect-ratio: 23/9;
}
.miniProfile form {
    margin:3px;
}

a {
    font-size:2vh;
    color:rgb(30, 107, 53);
    text-decoration:none;
}

.userImage {
    aspect-ratio:1;
    width:10vh;
    min-width: 50px;
   
}

.homeBut:hover, button:hover, .inbox:hover{
    cursor:pointer;
}

button:hover {
    filter: brightness(85%);
}
.homeBut:hover, .inbox:hover, a:hover{
    filter: opacity(20%);
}

.profileGroup {
   
    margin:0px;
    padding:0px;
}
.usernameInbox {
    display:flex;

}