.comment {
    border-style: solid;
    width:fit-content;
    max-width:500px;
    border-width: 2px;
    border-radius:5px;
    padding:0px;
    margin:3px;
    word-wrap: break-word;
}

.solid{
    border-top: 3px solid rgba(178, 178, 178, 0.525);
    margin:0px;
    
}
.userDiv {
    display: flex;
    align-items: center;
}
.commentUserImage{
    width:40px;
    height:40px;
}
.userTime {
    display:flex;
    align-items: center;
    gap:10px;
    margin:0px;
    padding:0px;
   
}
.username {
    font-weight: bold;
    color:rgb(31, 128, 97);
}

.timestamp {
    font-style:italic;
    color:grey;
    
}

.commentMaker {
    display:flex;
    flex-direction:column;
}
.likes {
    
    width:30px;
    height:30px;
    content:url("/thumbs.png");
   
    
}

.centerPiece {
    display:flex;
    justify-content: center;

    gap:2vw;
}
.postBody {
    width:30vw;
}
.commentMaker div {
    display:flex;
    flex-direction:column;
}

.imgUsername {
    display:flex;
    flex-direction:row;
}
.blue {
    border-style:solid;
    border-radius: 30px;
    border-color:rgb(0, 255, 0);
}