.comment {
    border-style: solid;
    width:fit-content;
    max-width:500px;
    border-width: 2px;
    border-radius:5px;
    padding:0px;
    margin:3px;
}

.solid{
    border-top: 3px solid rgba(178, 178, 178, 0.525);
    margin:0px;
    
}

.commentUserImage{
    width:40px;
    height:40px;
}
.userTime {
    display:flex;
    align-items: center;
    gap:10px;
    margin:0px;
    padding:0px;
   
}
.username {
    font-weight: bold;
}

.timestamp {
    font-style:italic;
    color:grey;
    
}

.commentMaker {
    display:flex;
    flex-direction:column;
}
.likes {
    
    width:30px;
    height:30px;
    content:url("/thumbs.png");
   
    
}

.centerPiece {
    display:flex;
    justify-content: center;

    gap:2vw;
}
.postBody {
    width:30vw;
}
.commentMaker div {
    display:flex;
    flex-direction:column;
}

.imgUsername {
    display:flex;
    flex-direction:row;
}